.home {
  width: 100%;
  height: 1.8rem;
  background-color: #000;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
.home > ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 0.3rem;
}
.home > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home ul li .iconfont {
  display: block;
  color: #fff;
  font-size: 0.7rem;
}
.home ul li .active {
  color: red;
}
.home > ul > li > a > span:last-child {
  font-size: 0.3rem;
}
.home > ul > li > a > span {
  display: block;
  color: #fff;
  font-size: 0.24rem;
}
