.user header {
  background-image: url('https://dev.tencent.com/u/Loving-xinxin/p/react-yiji/git/raw/master/assent/User-bg_01.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 7rem;
  background-size: cover;
}
.user header .top {
  position: relative;
  width: 9rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.user header .top a > img {
  display: block;
  width: 0.55rem;
  height: 0.57rem;
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
}
.user header .content {
  width: 5rem;
  margin: 0 auto;
}
.user header .content .avatar_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user header .content .avatar_name img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}
.user header .content .avatar_name span {
  font-size: 0.6rem;
  color: #f1f5f8;
  margin: 0.2rem 0;
}
.user header .content .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.46rem;
  color: #f1f5f8;
  font-weight: inherit;
}
.user header .content .bottom > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user header .content .bottom > div > span:first-child {
  font-size: 0.46rem;
  color: #f6f5fb;
}
.user header .content .bottom > div > span:last-child {
  font-size: 0.36rem;
  color: #f6f5fb;
}
.user section .nav {
  margin: 0.2rem 0 0 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user section .nav > .title {
  font-size: 0.5rem;
  color: #151515;
}
.user section .nav .all {
  width: 1.1rem;
  height: 0.6rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  line-height: 0.6rem;
  background-color: #dd4f43;
  border-radius: 0.3rem 0 0 0.3rem;
  text-align: left;
  font-size: 0.4rem;
  color: #fffde8;
  background-image: url('https://dev.tencent.com/u/Loving-xinxin/p/react-yiji/git/raw/master/assent/User-next_15.png');
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: 0.2rem;
}
.user section > .pic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
  margin: 0 auto;
  padding: 0.3rem 0.1rem 0.2rem 0.1rem;
}
.user section > .pic > div {
  margin-right: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.user section > .pic > div > img {
  display: block;
  width: 3rem;
  height: 2.2rem;
}
.user section > .pic > div > span {
  font-size: 0.3rem;
  color: #1d1d1d;
  margin: 0.1rem 0.3rem;
}
.user .el-tabs__nav-scroll .el-tabs__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.88rem;
  line-height: 0.88rem;
  padding: 0 1.5rem;
  background-image: url('https://dev.tencent.com/u/Loving-xinxin/p/react-yiji/git/raw/master/assent/tabs-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.user .el-tabs__item {
  width: 6rem;
  font-size: 0.46rem;
  color: #fff;
  margin-left: 1rem;
}
.user section .picshow > .img > img {
  display: block;
  width: 5.2rem;
  height: 4.5rem;
}
